<div class="contenedor" @enterState>
  <div class="imagen">
    <img src="../../../assets/img/fondo2.jpg" alt="" />
  </div>
  <div class="formulario">
    <div class="table-form">
      <div class="title-form">
        <p>Busca tu nuevo destino!!!!</p>
      </div>
      <hr />
      <table cellspacing="0">
        <tr>
          <td>
            <app-input
              [listadoVuelos]="listVuelos"
              [iconInput]="origin"
              #eventInputOrigin

              (cityEvent)="receiveMessage($event)"></app-input>
          </td>

          <td>
            <app-input
              [listadoVuelos]="listVuelos"
              [iconInput]="destination"
              #eventInputDestination
              (cityEventDestination)="receiveMessage2($event)"></app-input>
          </td>
        </tr>
        <tr>

          <td rowspan="2">
            <div style="width: 100%">
              <app-select #select (monedaEvent)="receiveSelect($event)"></app-select>
            </div>
          </td>
        </tr>
      </table>

      <div class="btn-buscar">
        <button mat-stroked-button color="primary" (click)="eventInputOrigin.sendMessage(); eventInputDestination.sendMessageEvent(); select.sendMessage();searchVuelo()">Buscar</button>
      </div>
    </div>
  </div>
</div>


